<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define Appenders: one for Console and one for File -->
    <Appenders>
        <!-- Console Appender: Ghi log vào Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
    </Appenders>

    <!-- Define Loggers: Root logger ghi vào cả Console và File -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>