<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define Appenders: one for Console and one for File -->
    <Appenders>
        <!-- Console Appender: Ghi log vào Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>

        <!-- File Appender: Ghi log vào file application.log và thực hiện rolling -->
        <RollingFile name="File" fileName="logs/application.log"
                     filePattern="logs/application-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n%throwable"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- Define Loggers: Root logger ghi vào cả Console và File -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
